.App {
  text-align: center;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #black;
}

.NavBar {
  font-size: 20px;
  color: black;
}

body {
  background-color: #f0f5fa;
  background-image:url('/public/images/evan-dennis-i--IN3cvEjg-unsplash.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
	background-attachment:fixed;
    background-position: left top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
